@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"), local("RobotoRegular"),
    url("../fonts/RobotoRegular.woff2") format("woff2"),
    url("../fonts/RobotoRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("RobotoBold"),
    url("../fonts/RobotoBold.woff2") format("woff2"),
    url("../fonts/RobotoBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
}

:root {
  --color-black: #000000;
  --color-dark-charcoal: #333333;
  --color-dark-gunmetal: #212133;
  --color-gunmetal: #2e2b44;
  --color-granite-gray: #666666;
  --color-roman-silver: #85859b;
  --color-cultured: #f5f5f5;
  --color-bright-gray: #eaeaea;
  --color-platinum: #e5e5e5;
  --color-american-violet: #581c87;
  --color-grape: #7033ac;
  --color-purple-heart: #6441a5;
  --color-cadmium-violet: #7943a4;
  --color-lavender-indigo: #a855f7;
  --color-dark-orchid: #9932cc;
  --color-amethyst: #9d5cd0;
  --color-medium-orchid: #ba55d3;
  --color-pale-violet: #c998fb;
  --color-bright-lavender: #c283f3;
  --color-bright-ube: #d1a9f0;
  --color-pale-lavender: #ebd1ff;
  --color-american-blue: #453e6e;
  --color-star-command-blue: #007bb6;
  --color-very-light-blue: #5865f2;
  --color-mosaic-blue: #47b7dc;
  --color-dark-ice-blue: #53ccdc;
  --color-jordy-blue: #8bb8f1;
  --color-anti-flash-white: #edf0f9;
  --color-lavender-white: #ded4f3;
  --color-white: #ffffff;
  --color-selection: #59529c;
  --body-font-size: 16px;
  --h3-font-size: 18px;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--color-selection);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-white);
}

body {
  font-family: "Roboto Regular", "Roboto Bold";
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: 150%;
  background-color: var(--color-platinum);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
a:active,
a:focus,
.btn-reset,
.btn-reset:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-family: "Roboto Bold";
  font-weight: 700;
}

h1,
h2 {
  margin-bottom: 25px;
}

h1 {
  font-size: 60px;
  line-height: 100%;
}

h2 {
  font-size: 40px;
  line-height: 100%;
  color: RGBA(88, 28, 135, 0.8);
}

h3 {
  font-size: var(--h3-font-size);
  color: var(--color-dark-gunmetal);
}

section:nth-child(2n) {
  background-color: var(--color-white);
}

section:not(:first-child) {
  padding: 76px 150px;
}

sup {
  top: 0;
}

ul {
  list-style: none;
}

.btn {
  border-radius: 20px;
  border: none;
  max-width: max-content;
  font-family: "Roboto Bold";
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-very-light-blue);
}

.wrapper {
  position: relative;
  margin: 0 auto;
  /* width: 1440px; */
  width: 100%;
  overflow: hidden;
}

.header {
  background: linear-gradient(
    to right,
    rgba(110, 0, 255, 0.4),
    var(--color-american-blue)
  );
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 165px 30px;
  height: 80px;
}

.header__logo {
  position: relative;
  height: 50px;
}

.header__right {
  display: flex;
  align-items: center;
  width: 700px;
}

.nav {
  height: 21px;
  line-height: calc(var(--h3-font-size) + 3px);
}

.burger {
  width: 0;
  height: 0;
  visibility: hidden;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.nav__link {
  font-size: 22px;
  line-height: calc(var(--h3-font-size) + 3px);
  color: var(--color-white);
  transition: color 0.1s ease, outline 0.1s ease;
}

.nav__link::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  transition: background-color 0.1s linear, width 0.1s linear;
}

.nav__link:focus {
  outline: 2px solid var(--color-jordy-blue);
  outline-offset: 5px;
}

.nav__link:hover {
  color: var(--color-lavender-white);
  outline: none;
}

.nav__link:active {
  color: var(--color-dark-ice-blue);
  outline: none;
}

.nav__link:hover::after {
  width: 100%;
  background-color: var(--color-lavender-white);
  outline: none;
}

.nav__link:active::after {
  width: 100%;
  background-color: var(--color-dark-ice-blue);
  outline: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: fit-content; */
  min-height: 300px;
  /* height: 620px; */
  background: linear-gradient(
    to right,
    var(--color-lavender-indigo),
    var(--color-american-violet)
  );
}

/* .hero__container {
  background: url("../img/hero-image-desktop.png") no-repeat 642px 15px / 633px
    593px;
} */

.hero__content {
  padding: 130px 0;
  padding-left: 180px;
  width: 459px;
}

.hero__title {
  margin: 0;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  /* margin-bottom: 62px;
  max-width: 444px; */
  font-size: 24px;
  line-height: 150%;
  color: var(--color-white);
}

.hero__btn {
  padding: 0 75.5px;
  width: 270px;
  height: 69px;
  font-size: var(--h3-font-size);
  line-height: calc(var(--h3-font-size) + 3px);
}

.examples__title {
  text-align: center;
}

.examples__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 30px;
}

.examples__item {
  flex: 0 0 25%;
  max-width: 25%;
  border-radius: 0.75rem;
  background: linear-gradient(var(--color-white), var(--color-white))
      padding-box,
    linear-gradient(
        to right,
        rgba(236, 236, 236, 0.7),
        rgba(236, 236, 236, 0.9)
      )
      border-box;
  border: 3.5px solid transparent;
  border-right: none;
  border-bottom: none;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-ring-offset-shadow: 0 0 var(--color-black);
  --tw-ring-shadow: 0 0 var(--color-black);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 var(--color-black)),
    var(--tw-ring-shadow, 0 0 var(--color-black)), var(--tw-shadow);
}

.examples__item:not(.default) {
  display: none;
}

.examples__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-more-link {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 70px;
  background-color: var(--color-lavender-indigo);
  color: var(--color-white);
  font-size: 22px;
  line-height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 12px 12px 18px rgba(85, 27, 140, 0.7), inset -6px -6px 9px rgba(0, 0, 0, 0.3), inset 6px 6px 9px rgba(0, 1, 1, 0.1);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .show-more-link:hover {
    background-color: var(--color-bright-lavender);
  }
}

.show-more-link:focus:not(:hover):not(:active) {
/*   border-color: var(--color-grape); */
  background-color: var(--color-bright-lavender);
}

.show-more-link:active {
  background-color: var(--color-grape);
}

.collapsible-list.open {
  .examples__item:not(.default) {
    display: list-item;
  }
}

.examples__card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 15px 20px;
  height: 100%;
}

/* .examples__picture {
  align-self: center;
} */

.examples__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 34px;
}

.examples__descr {
  flex: 1 1 auto;
  margin-bottom: auto;
}

.examples__link {
  align-self: flex-end;
  z-index: 1;
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: bold;
  transition: color 0.4s cubic-bezier(0, 0.795, 0, 1);
}

.examples__link::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: -5px;
  right: -5.5px;
  top: -2px;
  bottom: -4px;
  background-color: var(--color-bright-lavender);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0, 0.795, 0, 1);
}

.examples__link:focus-visible:not(:hover):not(:active)::before {
  opacity: 1;
}

@media screen and (any-hover: hover) {
  .examples__link:hover:not(:focus):not(:active) {
    color: var(--color-medium-orchid);
  }
}

.examples__link:active {
  color: var(--color-dark-orchid);
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: linear-gradient(
    to right,
    var(--color-lavender-indigo),
    var(--color-american-violet)
  );
}

.social {
  display: block;
  list-style: none;
  text-align: center;
}

.social__item {
  display: inline-block;
}

.social__link,
.social__svg {
  display: block;
}

.social__link {
  display: inline-block;
  position: relative;
  height: 49px;
  width: 49px;
  border-radius: 100%;
  color: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-black);
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .social__link:hover {
    color: var(--color-black);
    fill: var(--color-black);
    background-color: var(--color-white);
  }
}

.github {
  background-color: var(--color-white);
  fill: var(--color-black);
  color: var(--color-black);
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .github:hover {
    background: var(--color-purple-heart);
    color: var(--color-white);
    fill: var(--color-white);
  }
}

.linkedin {
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .linkedin:hover {
    color: var(--color-star-command-blue);
    fill: var(--color-star-command-blue);
  }
}

.social__icon {
  width: 100%;
  height: 100%;
}

.footer__contacts--icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 0;
  line-height: 0;
}

.footer__contacts--caption {
  font-size: 30px;
  line-height: 200%;
  color: var(--color-white);
}

.footer__contacts--img {
  transition: opacity 0.3s ease-in-out;
}

.footer__contacts--link:focus-within .footer__contacts--img {
  opacity: 0.5;
}

@media screen and (any-hover: hover) {
  .footer__contacts--link:hover .footer__contacts--img {
    opacity: 0.5;
  }
}

.zoomd {
  width: 300px;
  height: auto;
  transition: all ease-in-out 0.4s;
  cursor: zoom-in;
}

#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: transform ease-in-out 0.4s;
}

#lb-back.show {
  visibility: visible;
  opacity: 1;
}

#lb-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* text-align: center; */
}

#lb-img img {
  /* FULL WIDTH IMAGE
    width: 100%;
    height: auto;
    cursor: zoom-out; 
    */

  /* MAX WIDTH 1200px IMAGE */
  width: 35%;
  /* max-width: 1200px; */
  height: auto;
  margin: 0 auto;
  cursor: zoom-out;
}

.sert-list {
  display: flex;
  justify-content: space-between;
  margin: 5vw;
  width: min(90vw, 700px);
}
